/*Index*/

header{
    height: 200px;
    background-image: url('Img/roulette.jpg');
    background-size: cover;
    color: white;
    text-align: center;
	font-size: 5vw ;
}
header::before{
    content :"La Roue Tourne";
}
main {
   
   	font-size: 20px;
    padding: 30px;
    margin: 10px;
	color: black;
	text-align: center;
	align-self: center;
}
.formulaire{
    text-align: center;
	align-self: center;
	border: 1px dashed green;
	padding: 5px;
	margin: auto;
	margin-bottom: 20px;
	line-height:30px;
    display: inline-block;
    padding : 20px;
    border-radius: 8px;
    }